Package: rpm-bundle
Version: 4.12.0.1-1
Architecture: amd64
Maintainer: Nikola Forró <nforro@redhat.com>
Installed-Size: 3970
Depends: libarchive12, libbz2-1.0, libc6 (>= 2.15), libcap2 (>= 2.10), libdb5.1, libdbus-1-3 (>= 1.0.2), libelf1 (>= 0.131), liblua5.2-0, liblzma5 (>= 5.1.1alpha+20110809), libmagic1, libnss3 (>= 3.12.5), libpopt0 (>= 1.14), libselinux1 (>= 2.1.0), zlib1g (>= 1:1.1.4), libpopt-dev
Breaks: rpm
Replaces: rpm
Section: admin
Priority: optional
Homepage: http://rpm.org/
Description: package manager for RPM
 The RPM Package Manager (RPM) is a command-line driven package
 management system capable of installing, uninstalling, verifying,
 querying, and updating computer software packages.
